.logo {
  display: flex;
  align-items: center;
  position: relative;
}

.link {
  text-decoration: none;
  color: inherit;
  font-size: 0;

  &::before {
    content: '';
    inset: 0;
    display: block;
    position: absolute;
  }
}

.mark {
  flex-shrink: 0;
}
