.list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.item {
  display: block;
}

.clamp,
.button {
  display: inline-block;
  line-height: 22px;
  font-size: 18px;
  font-family: inherit;
  padding: var(--space-1) var(--space-2);
}

.button {
  cursor: pointer;
  border: 0;
  background: 0;

  &.active {
    color: var(--color-text-inverted);
    background: var(--color-generic-brand);
  }
}
