.layout {
  --gutter: var(--space-7);
  display: grid;
  grid-template-areas:
    "name"
    "image"
    "meta"
    "summary"
    "ingredients"
    "equipment"
    "directions";
  gap: var(--gutter);

  @media (--medium-viewport) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "name        name        name       ."
      "image       image       image      image"
      "summary     summary     summary    meta"
      "ingredients ingredients equipment  equipment"
      "directions  directions  directions .";
  }
}

.name {
  grid-area: name;
}

.summary {
  grid-area: summary;
}


.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
  gap: var(--space-2);
}

.listItem {
  display: flex;
  flex-basis: 50%;

  &::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 var(--space-2) 0 0;
    background-size: 24px;
    flex-shrink: 0;
  }
}

.list.listTypeIngredients {
  .listItem {
    &::before {
      background-image: url('./recipe.assets/ingredient-icon.svg');
    }
  }
}

.list.listTypeEquipment {
  .listItem {
    &::before {
      background-image: url('./recipe.assets/equipment-icon.svg');
    }
  }
}

.ingredients {
  grid-area: ingredients;
}

.equipment {
  grid-area: equipment;
}

.directions {
  grid-area: directions;
}

.steps {
  counter-reset: step;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.step {
  display: block;

  &:not(:last-child) {
    margin-bottom: var(--space-3);
  }

  &::before {
    display: block;
    counter-increment: step number-of-count;
    content: "Step " counter(step);
    color: var(--color-text-secondary);
    margin: 0 0 var(--space-1);
    font-size: .8rem;
  }
}

.meta {
  margin: 0;
  grid-area: meta;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-5);

  @media (--small-viewport) {
    align-self: start;
    justify-self: start;
  }
}

.term {
  display: block;
  margin: 0;
}

.definition {
  display: block;
  margin: 0;
}

.caption {
  margin: 0 0 var(--space-3);
}

.image {
  grid-area: image;
  border-radius: var(--border-radius);
  aspect-ratio: 3 / 2;
  width: 100%;
  object-fit: cover;
}
