.filters {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.fieldsRow {
  @media (--small-viewport) {
    display: grid;
    justify-content: end;
    grid-auto-columns: 300px;
  }
}
