.filters {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.searchRow {
  display: flex;
}

.searchInput {
  flex-grow: 1;
  margin: 0 var(--space-l) 0 0;
}

.fieldsRow {
  @media (--small-viewport) {
    display: grid;
    justify-content: end;
    grid-auto-columns: 300px;
  }
}
