.text {
  line-height: 1;
}

.text.clamped {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
  overflow: hidden;
}

.variantBody1 {
  font-size: 12px;
  font-size: 18px;
}

.variantBody2 {
  font-size: 18px;
  line-height: 22px;
}

.variantBody3 {
  font-size: 22px;
  font-size: 26px;
}

.variantHeader1 {
  font-size: 34px;
  font-weight: 700;
}

.variantHeader2 {
  font-size: 44px;
  font-weight: 700;
}

.variantCaption1 {
  font-size: 20px;
  font-weight: 500;
}

.colorPrimary {
  color: var(--color-text-primary);
}

.colorSecondary {
  color: var(--color-text-secondary);
}

.colorAccent {
  color: var(--color-text-brand);
}

.weightNormal {
  font-weight: 400;
}

.weightMedium {
  font-weight: 500;
}

.weightBold {
  font-weight: 700;
}
