:root {
  --brand: #B5460F;
  --brand-hover: #B5460FB2;
  --brand-active: #872D01;

  --text-secondary: #AFADB5;
  --text-primary: #000;
  --text-accent: var(--brand);

  --space-xl: 24px;
  --space-l: 20px;
  --space-m: 16px;
  --space-s: 14px;
  --space-xs: 12px;
  --space-xxs: 8px;

  --page-margin: 20px;

  --border-radius: 5px;

  @media (--small-viewport) {
    --page-margin: 6%;
  }
}
