.list {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.item {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;

  &:not(:last-child) {
    margin-right: var(--space-7);
  }

  &:last-child {
    padding-right: var(--page-margin);

    @media (--medium-viewport) {
      padding-right: 0;
    }
  }
}

.link,
.link:visited {
  color: currentColor;
  text-decoration: none;
}

.link:hover {
  color: var(--color-text-link-hover);
}

.link.active {
  color: var(--color-text-brand);
}
