.dropdown {
  position: relative;
}

.input {
  flex-grow: 1;
  flex-shrink: 1;
  background: none;
  border: 0;
  outline: 0;
}

.popup {
  display: block;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  top: calc(100% + var(--space-2));
  box-shadow: 
  rgba(229, 229, 229) 0px 0px 0px 1px,
  rgba(0, 0, 0, 0.15) 0px 8px 20px 1px;
  background-color: var(--color-background);
  z-index: 2;
}

.option {
  cursor: pointer;
  display: block;
  padding: var(--space-3) var(--space-2);

  :hover {
    color: var(--color-text-secondary);
  }
}

.option.selected {
  color: var(--color-text-brand);
}
