.header {
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--space-4);
  justify-content: space-between;
  width: 100%;

  @media (--medium-viewport) {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.menuWrap {
  overflow: hidden;
  margin: 0 calc(-1 * var(--page-margin));
  flex: 1 0 calc(100% + 2 * var(--page-margin));
  order: 1;

  @media (--medium-viewport) {
    margin: 0 0 0 var(--space-10);
    order: 0;
    flex-basis: auto;
  }
}

.menuScroller {
  padding: 16px var(--page-margin) 20px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  margin-bottom: -20px;
  mask-image: linear-gradient(90deg,
      transparent 0, rgba(0, 0, 0, .2) 10px,
      #000 20px,
      #000 calc(100% - 20px),
      rgba(0, 0, 0, .2) calc(100% - 10px),
      transparent);

  @media (--medium-viewport) {
    padding: 0;
    margin: 0;
    overflow-x: visible;
    mask-image: none;
  }
}

.actionsWrap {
  display: flex;
  flex-flow: row nowrap;
}
