.header {
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--space-s);
  justify-content: space-between;

  @media (--medium-viewport) {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-bottom: var(--space-s);
    align-items: center;
  }
}

.menuWrap {
  overflow: hidden;
  margin: 0 calc(-1 * var(--page-margin));
  padding: var(--space-xs) 0;
  flex-basis: 100%;
  flex-grow: 1;
  position: relative;

  @media (--medium-viewport) {
    margin: 0 0 0 80px;
    padding: 0;
  }
}

.menuScroller {
  padding: 0 var(--page-margin);
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
  margin-bottom: -20px;
  mask-image: linear-gradient(90deg,
      transparent 0, rgba(0, 0, 0, .2) 10px,
      #000 20px,
      #000 calc(100% - 20px),
      rgba(0, 0, 0, .2) calc(100% - 10px),
      transparent);

  @media (--medium-viewport) {
    padding: 0;
    margin: 0;
    overflow-x: visible;
    mask-image: none;
  }
}
