.list {
  padding: 0;
  margin: 0;
  --gutter: var(--space-6);

  @media (--small-viewport) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gutter);
  }

  @media (--medium-viewport) {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
  }
}

.item {
  display: block;

  &:not(:last-child) {
    margin-bottom: var(--gutter);

    @media (--small-viewport) {
      margin-bottom: 0;
    }
  }
}

.card {
  @media (--small-viewport) {
    height: 100%;
  }
}

.pagination {
  margin: 48px 0 0;
}

.cookingTimeIcon {
  margin-right: 8px;
}
