.list {
  display: grid;
  margin: 48px 0 0;
  padding: 0;
  grid-template-columns: repeat(3, auto);
  gap: 80px;
}

.item {
  display: block;
}

.card {
  height: 100%;
}

.pagination {
  margin: 48px 0 0;
}

.cookingTimeIcon {
  margin-right: 8px;
}