.button {
  border: 0;
  background: 0 0;
  display: flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:visited {
    color: currentColor;
  }

  &:hover {
    color: var(--color-generic-brand-hover);
  }
}

.label {
  font-size: 0;
}
