.wrap {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (--small-viewport) {
    flex-direction: row;
  }
}

.content {
  display: flex;
  padding: var(--space-7) var(--space-8);
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(179, 214, 119);
  color: var(--color-text-secondary);

  @media (--small-viewport) {
    flex-grow: 1;
  }
}

.title {
  font-size: 34px;
  line-height: 1;
  margin-right: 72px;
}

.description {
  margin-top: 12px;
  max-width: 400px;
}

.action {
  margin-top: 32px;
}

.cover {
  overflow: hidden;
  order: -1;
  background-color: var(--color-generic-skeleton);
  aspect-ratio: 1 / 1;

  @media (--small-viewport) {
    display: flex;
    flex-basis: 66%;
    flex-shrink: 0;
    height: 500px;  
  }

}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
